/* Navbar.css */

body {
  margin: 0; /* Reset default margin for body */
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #dcff97; /* Set your desired background color */
  z-index: 1000; /* Set a higher z-index to ensure it's above other elements */
}

.logo {
  width: 120px; /* Set your desired width */
  height: auto;
  margin-left: .3cm;
}

.search-container {
  flex: 1;
  margin: 0 20px; /* Adjust margin as needed */
}

.search-bar {
  width: 95%;
  padding: 10px;
}

.cart-container {
  font-size: 20px;
  color: white;
  background: #3498db;
  margin-right: 10px; /* Adjust margin as needed */
  display: flex;
  padding: 5px;
  border-radius: 5px;
}

.login-btn {
  font-size: 20px;
  padding: 8px 12px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #3498db; /* Set your desired button color */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.signup-btn {
  font-size: 20px;
  padding: 8px 12px;
  background-color: #3498db; /* Set your desired button color */
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 5px;
  border-radius: 5px;
}
